# Requirements for the Curve fitter

###### Requirements without Version Specifiers ######
python
#tkinter ?
pandas
pandastable
numpy
scipy
matplotlib

###### Requirements with Version Specifiers ######
python  >= 3.6
pandas	>= 1.2.2
pandastable 0.12.2.post1
numpy >= 1.23.0
scipy >= 1.8.1
matplotlib >= 3.5.2
